html, body {
  height: 100%;
  /*
  .subscribe {
    background-color: transparentize(rgba(222, 193, 47, 0.7), 0.3);
    margin-top: 110px;
    padding: 15px 0;
  }*/ }
  html h1, html h2, html h3, html h4, html h5, body h1, body h2, body h3, body h4, body h5 {
    font-family: "Tangerine", cursive;
    text-align: center; }
  html p, html div, html span, html li, body p, body div, body span, body li {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 26px; }
    @media (max-width: 767px) {
      html p, html div, html span, html li, body p, body div, body span, body li {
        font-size: 15px; } }
  html .clear, body .clear {
    clear: both; }
  html .main-heading, body .main-heading {
    font-size: 66px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #d0b426; }
    @media (max-width: 767px) {
      html .main-heading, body .main-heading {
        font-size: 56px; } }
    html .main-heading.extra-margin, body .main-heading.extra-margin {
      margin-bottom: 45px; }
  html #mc_embed_signup, body #mc_embed_signup {
    float: right;
    padding: 15px 15px; }
    @media (max-width: 979px) {
      html #mc_embed_signup, body #mc_embed_signup {
        padding: 10px 10px; } }
    @media (max-width: 767px) {
      html #mc_embed_signup, body #mc_embed_signup {
        float: none;
        width: 100%;
        display: block;
        background-color: #d0b426;
        text-align: center;
        margin: 10px 0 0;
        padding-bottom: 0; } }
    html #mc_embed_signup div, body #mc_embed_signup div {
      float: right; }
      @media (max-width: 767px) {
        html #mc_embed_signup div, body #mc_embed_signup div {
          float: none; } }
    html #mc_embed_signup input[type="email"], body #mc_embed_signup input[type="email"] {
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      border-radius: 4px;
      border: 1px solid #ccc;
      margin: 0 15px; }
      @media (max-width: 979px) {
        html #mc_embed_signup input[type="email"], body #mc_embed_signup input[type="email"] {
          margin: 0 10px; } }
    html #mc_embed_signup label, body #mc_embed_signup label {
      font-size: 18px;
      font-weight: normal;
      display: inline-block;
      position: relative;
      top: 3px; }
      @media (max-width: 979px) {
        html #mc_embed_signup label, body #mc_embed_signup label {
          font-size: 16px; } }
      @media (max-width: 767px) {
        html #mc_embed_signup label, body #mc_embed_signup label {
          font-size: 16px;
          position: static;
          display: block; } }
    html #mc_embed_signup .button, body #mc_embed_signup .button {
      background-color: #ff9999;
      color: white;
      font-size: 16px;
      border: 0; }
      html #mc_embed_signup .button:hover, body #mc_embed_signup .button:hover {
        background-color: #ff7f7f; }
  html .navbar, body .navbar {
    background-color: white; }
    @media (max-width: 979px) {
      html .navbar, body .navbar {
        margin-bottom: 0; } }
    html .navbar .navbar-toggle, body .navbar .navbar-toggle {
      background-color: #d0b426;
      min-width: 60px;
      margin-top: 35px;
      margin-right: 30px; }
      html .navbar .navbar-toggle .icon-bar, body .navbar .navbar-toggle .icon-bar {
        background-color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto; }
    html .navbar .navbar-nav, body .navbar .navbar-nav {
      margin-left: 0;
      float: right; }
      @media (max-width: 767px) {
        html .navbar .navbar-nav, body .navbar .navbar-nav {
          float: none;
          margin: 0; } }
      html .navbar .navbar-nav li a, body .navbar .navbar-nav li a {
        font-family: "Tangerine", cursive;
        color: black;
        padding: 10px 16px;
        font-size: 32px;
        font-weight: bold;
        line-height: normal; }
        @media (min-width: 1200px) {
          html .navbar .navbar-nav li a, body .navbar .navbar-nav li a {
            padding: 10px 15px; } }
        @media (min-width: 768px) and (max-width: 979px) {
          html .navbar .navbar-nav li a, body .navbar .navbar-nav li a {
            font-size: 28px;
            padding: 20px 15px; } }
        @media (max-width: 767px) {
          html .navbar .navbar-nav li a, body .navbar .navbar-nav li a {
            padding: 10px 15px;
            text-align: center; } }
        html .navbar .navbar-nav li a:hover, html .navbar .navbar-nav li a:focus, body .navbar .navbar-nav li a:hover, body .navbar .navbar-nav li a:focus {
          background-color: rgba(255, 229, 229, 0.2);
          cursor: pointer; }
      html .navbar .navbar-nav li.active a, body .navbar .navbar-nav li.active a {
        background-color: rgba(255, 229, 229, 0.2); }
      html .navbar .navbar-nav li.active.first a, body .navbar .navbar-nav li.active.first a {
        background-color: #FFFFFF; }
    html .navbar .brand, body .navbar .brand {
      position: relative;
      background-image: url("../images/samsspa-logo.jpg");
      font-size: 0;
      width: 220px;
      height: 100px;
      background-size: contain;
      display: block;
      background-repeat: no-repeat;
      margin: 5px 10px; }
      @media (min-width: 980px) and (max-width: 1199px) {
        html .navbar .brand, body .navbar .brand {
          width: 180px; } }
  html .banner, body .banner {
    margin-top: 80px; }
    @media (max-width: 979px) {
      html .banner, body .banner {
        margin-top: 140px; } }
    @media (max-width: 767px) {
      html .banner, body .banner {
        margin-top: 230px; } }
    html .banner .overlay-text, body .banner .overlay-text {
      position: absolute;
      top: 230px;
      width: 100%; }
      @media (max-width: 979px) {
        html .banner .overlay-text, body .banner .overlay-text {
          top: 215px; } }
      @media (max-width: 767px) {
        html .banner .overlay-text, body .banner .overlay-text {
          top: 290px; } }
      html .banner .overlay-text h1, body .banner .overlay-text h1 {
        font-family: "Tangerine", cursive;
        font-size: 120px;
        font-weight: bold;
        text-align: center;
        color: white;
        text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3); }
        @media (max-width: 979px) {
          html .banner .overlay-text h1, body .banner .overlay-text h1 {
            font-size: 100px; } }
        @media (max-width: 767px) {
          html .banner .overlay-text h1, body .banner .overlay-text h1 {
            font-size: 48px; } }
    html .banner .slickslider, body .banner .slickslider {
      /*
      .stock-2 {
        background-image: url('../images/stock-spa2.jpg');
      }
      .stock-3 {
        background-image: url('../images/stock-spa3.jpg');
      }
      .stock-4 {
        background-image: url('../images/stock-spa4.jpg');
      }
      */ }
      html .banner .slickslider .stock-1, body .banner .slickslider .stock-1 {
        background-image: url("../images/main-banner.jpg"); }
      html .banner .slickslider .cover, body .banner .slickslider .cover {
        background-size: cover;
        background-position: bottom center;
        width: 100%;
        height: 450px; }
        @media (max-width: 979px) {
          html .banner .slickslider .cover, body .banner .slickslider .cover {
            height: 300px; } }
        @media (max-width: 767px) {
          html .banner .slickslider .cover, body .banner .slickslider .cover {
            height: 200px; } }
  html .padded, body .padded {
    padding: 35px 0; }
    @media (max-width: 767px) {
      html .padded, body .padded {
        padding: 25px 0; } }
  html .about, body .about {
    background-color: #FFFFFF;
    text-align: center; }
    html .about p, body .about p {
      margin-bottom: 5px; }
    html .about .row, body .about .row {
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 767px) {
        html .about .row, body .about .row {
          display: block; } }
    html .about .located, body .about .located {
      margin-top: 20px; }
    html .about .bg-container .aveda, body .about .bg-container .aveda {
      background-image: url("../images/Avedalogo.png");
      width: 264px;
      height: 139px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: white;
      margin: 15px auto 0; }
    html .about .bg-container .outside-salon, body .about .bg-container .outside-salon {
      background-image: url("../images/salon-front.JPG");
      width: 100%;
      height: 350px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: white;
      box-shadow: 0 0 10px #777; }
  html .services, body .services {
    background-color: #ffe5e5; }
    html .services p, body .services p {
      text-align: center; }
      @media (max-width: 767px) {
        html .services p, body .services p {
          font-size: 13px; } }
    html .services .service-groups, body .services .service-groups {
      background-color: white;
      box-shadow: 0 0 10px #888;
      padding: 30px; }
    html .services .service-group.left, html .services .service-group.right, body .services .service-group.left, body .services .service-group.right {
      width: 50%;
      text-align: center; }
      @media (max-width: 767px) {
        html .services .service-group.left, html .services .service-group.right, body .services .service-group.left, body .services .service-group.right {
          width: 100%; } }
    html .services .service-group.left, body .services .service-group.left {
      float: left; }
    html .services .service-group.right, body .services .service-group.right {
      float: right; }
    html .services .service-group .service-label, body .services .service-group .service-label {
      font-weight: bold;
      font-family: "Tangerine", cursive;
      font-size: 34px;
      color: #d0b426;
      line-height: normal; }
      @media (max-width: 767px) {
        html .services .service-group .service-label, body .services .service-group .service-label {
          font-size: 28px; } }
    html .services .service-group .disclaimer, body .services .service-group .disclaimer {
      font-size: 14px;
      margin-bottom: 10px; }
    html .services .service-group ul, body .services .service-group ul {
      padding-left: 15px;
      padding-bottom: 25px; }
      @media (max-width: 767px) {
        html .services .service-group ul, body .services .service-group ul {
          padding-left: 0; } }
      html .services .service-group ul li, body .services .service-group ul li {
        list-style-type: none;
        padding: 3px 5px 3px 1.5em;
        font-size: 16px; }
        @media (max-width: 767px) {
          html .services .service-group ul li, body .services .service-group ul li {
            font-size: 14px; } }
        html .services .service-group ul li:before, body .services .service-group ul li:before {
          font-family: FontAwesome;
          content: '\f219';
          font-size: 16px;
          color: #d0b426;
          display: inline-block;
          margin-left: -1.5em;
          /* same as padding-left set on li */
          width: 1.5em;
          /* same as padding-left set on li */
          margin-right: 5px; }
  html .gallery, body .gallery {
    background-color: #f0f0f5;
    text-align: center; }
    html .gallery .gallery-container .slickslider .salon-1, body .gallery .gallery-container .slickslider .salon-1 {
      background-image: url("../images/carousel/nailpolish.JPG"); }
    html .gallery .gallery-container .slickslider .salon-2, body .gallery .gallery-container .slickslider .salon-2 {
      background-image: url("../images/carousel/nails.JPG"); }
    html .gallery .gallery-container .slickslider .salon-3, body .gallery .gallery-container .slickslider .salon-3 {
      background-image: url("../images/carousel/tweezers.JPG"); }
    html .gallery .gallery-container .slickslider .salon-4, body .gallery .gallery-container .slickslider .salon-4 {
      background-image: url("../images/carousel/gallery4.jpg"); }
    html .gallery .gallery-container .slickslider .salon-5, body .gallery .gallery-container .slickslider .salon-5 {
      background-image: url("../images/carousel/gallery5.JPG"); }
    html .gallery .gallery-container .slickslider .salon-6, body .gallery .gallery-container .slickslider .salon-6 {
      background-image: url("../images/carousel/gallery6.JPG"); }
    html .gallery .gallery-container .slickslider .salon-7, body .gallery .gallery-container .slickslider .salon-7 {
      background-image: url("../images/carousel/gallery7.jpg"); }
    html .gallery .gallery-container .slickslider .salon-8, body .gallery .gallery-container .slickslider .salon-8 {
      background-image: url("../images/carousel/gallery8.jpg"); }
    html .gallery .gallery-container .slickslider .salon-9, body .gallery .gallery-container .slickslider .salon-9 {
      background-image: url("../images/carousel/gallery9.jpg"); }
    html .gallery .gallery-container .slickslider .slick-slide, html .gallery .gallery-container .slickslider .slick-track, body .gallery .gallery-container .slickslider .slick-slide, body .gallery .gallery-container .slickslider .slick-track {
      background-color: #f0f0f5; }
    html .gallery .gallery-container .slickslider .slide-content, body .gallery .gallery-container .slickslider .slide-content {
      margin: 5px 20px;
      background-color: #f0f0f5;
      box-shadow: 0 0 10px #777; }
    html .gallery .gallery-container .slickslider .cover, body .gallery .gallery-container .slickslider .cover {
      background-size: cover;
      width: 100%;
      height: 300px; }
      html .gallery .gallery-container .slickslider .cover a, body .gallery .gallery-container .slickslider .cover a {
        display: block;
        height: 100%; }
    html .gallery .gallery-container .gallery-help, body .gallery .gallery-container .gallery-help {
      padding-top: 15px; }
  html .contact, body .contact {
    text-align: center; }
    html .contact .contact-info .company, body .contact .contact-info .company {
      margin-top: 15px; }
    html .contact .contact-info span, html .contact .contact-info div, body .contact .contact-info span, body .contact .contact-info div {
      font-size: 18px; }
    html .contact .contact-info .left, body .contact .contact-info .left {
      padding-right: 5px; }
    html .contact .contact-info .right, body .contact .contact-info .right {
      padding-left: 5px; }
    html .contact .any-questions, body .contact .any-questions {
      margin: 35px 0 20px; }
    html .contact .contact-form, body .contact .contact-form {
      width: 60%;
      margin: 15px auto; }
      @media (max-width: 767px) {
        html .contact .contact-form, body .contact .contact-form {
          width: 100%; } }
      html .contact .contact-form button, body .contact .contact-form button {
        background-color: #ff9999;
        color: white;
        font-size: 16px;
        min-width: 120px; }
        html .contact .contact-form button:hover, body .contact .contact-form button:hover {
          background-color: #ff7f7f; }
      html .contact .contact-form textarea, body .contact .contact-form textarea {
        min-height: 150px; }
  html footer, body footer {
    background-color: black;
    color: #e6e6e6; }
    html footer .left, body footer .left {
      float: left; }
    html footer .right, body footer .right {
      float: right; }
    @media (max-width: 767px) {
      html footer .left, html footer .right, body footer .left, body footer .right {
        float: none;
        text-align: center; } }
    html footer .social-icon, body footer .social-icon {
      width: 50px;
      height: 50px;
      display: inline-block;
      margin-left: 5px;
      background-size: cover; }
      @media (max-width: 767px) {
        html footer .social-icon, body footer .social-icon {
          margin-top: 15px; } }
      html footer .social-icon a, body footer .social-icon a {
        display: block;
        height: 100%; }
    html footer .facebook, body footer .facebook {
      background-image: url("../images/facebook.png"); }
    html footer .instagram, body footer .instagram {
      background-image: url("../images/instagram.png"); }

/*# sourceMappingURL=app.css.map */
